.topo {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
}

.logo-topo {
    width: 150px;
}

.link-topo {
    display: flex;
    gap: 20px;
}

a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

@media(max-width: 550px) {
    .topo {
        flex-direction: column;
    }

    .link-topo {
        width: 100%;
        text-align: center;
        padding: 10px;
        margin: 10px;
        border-top: 1px solid #aaadaf;
    }
}


